<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elmore Mais</title>
</head>
<body>
    <nav style="margin-left: 34px; margin-right: 34px; padding: 5px; border-radius: 2px;" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home"> Elmore Mais</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Guilherme</a>
            </li>
          </ul>
        </div>
      </nav>
      <section style="margin: 40px;">

        <form action="/post" method="post">

          <input type="hidden" value="<%= user.email %>" name="origin">
          <input type="hidden" value="<%= user.name %>" name="name">

          <h2>Fale oque Pense !</h2>
          <textarea class="form-control" name="post" id="post" cols="30" rows="10" placeholder="So Tente Nao Ser Cancelado..."></textarea><br>
          <button class="btn btn-outline-primary" type="submit">Publicar</button>

        </form><br><br><br>

        <% for(posts of posts){ %> 
          <div class="card">
            <div class="card card-body">
              <h3><%= posts.name %> </h3><hr>
              <p><%= posts.text %> </p><br>

              <form action="/comentarios" method="post">
              <input type="hidden" name="origin" value="<%= posts._id %>">
              <input type="hidden" name="name" value="<%= user.name %>">

              <input type="text" style="width: 500px;" class="form-control" name="text" id="text" placeholder="O Motivo do Cancelamento ..." required> <p style="text-align: end;">1❌</p> <button style="position: relative; width: 124px;" class="btn btn-outline-danger" type="submit">Cancele-o ❌</button><hr>
              </form>

              <small>Comentarios:</small><br>
              
              <% comentarios.forEach((item) => { %> 
                
                <% if(item.origin == posts._id){ %>

                    <div style="border: black solid 1px; padding: 4px; border-radius: 5px; box-shadow: rgb(177, 176, 176) 2px 5px 7px;">

                    <small> <strong> <%= item.name %> </strong> </small><br>
                    <small> <%= item.text %> </small>
  
                    </div><br> 
                    
                <% }else{} %>

              <% }) %> 

            </div>
          </div><br><br><br>
         <% } %>

      </section>
</body>
</html>

<script src="/js/bootstrap.js"></script>
